<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>        
        <meta name="viewport" content="width=device-width" />        
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("scripts", required: false)
    </head>
    <body>
       <div class="bannerHead">
           <div style="float:left; width:50%">
               <span class="">M</span>entor<span>C</span>onnect
           </div>
           <div class="welcomeText">
               Welcome @ViewBag.userfname!
               @if (ViewBag.userfname != "guest") { 
                <span style="padding-left:7px;" id="logout"><a href="@Url.Action("Login", "Account")">Logout</a></span>
               }
           </div>
       </div>
        <div id="body">            
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>        

        
    </body>
</html>
